<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../dist/style.css" />

    <title>Document</title>
  </head>
  <body>
    <footer class="bg-black">
      <div class="grid grid__footer">
        <div class="grid__footer-logo">
          <img src="../images/logo.svg" alt="icon logo" />
        </div>
        <div role="navigation" class="grid__footer-nav footer-nav nav-links">
          <a href="#about">About</a>
          <a href="#careers">Careers</a>
          <a href="#events">Events</a>
          <a href="#products">Products</a>
          <a href="#support">Support</a>
        </div>
        <div class="grid__socials">
          <a href="#facebook"
            ><img src="../images/icon-facebook.svg" alt="icon facebook"
          /></a>
          <a href="#twitter"
            ><img src="../images/icon-twitter.svg" alt="icon twitter"
          /></a>
          <a href="#pinterest">
            <img src="../images/icon-pinterest.svg" alt="icon pinterest" />
          </a>
          <a href="#instagram"
            ><img src="../images/icon-instagram.svg" alt="icon instagram"
          /></a>
        </div>
        <div class="grid__footer-copyright footer-copyright">
          <p>© 2021 Loopstudios. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
