<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../dist/style.css" />

    <style>
      body {
        background-color: blue;
      }
    </style>
  </head>
  <body>
    <div id="menu-nav-links-overlay">
      <section class="bg-black menu">
        <div class="grid grid__menu">
          <div class="grid__logo">
            <img src="../images/logo.svg" alt="logo company" />
            <img src="../images/icon-close.svg" alt="icon close" />
          </div>

          <div role="menu" class="menu-links grid__menubar">
            <a href="#about">ABOUT</a>
            <a href="#careers">CAREERS</a>
            <a href="#events">EVENTS</a>
            <a href="#products">PRODUCTS</a>
            <a href="#support">SUPPORT</a>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
