<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../dist/style.css" />
  </head>
  <body>
    <section class="grid__navbar">
      <div>
        <img src="../images/logo.svg" alt="logo company" />
        <img src="../images/icon-close.svg" alt="icon close" />
      </div>

      <div role="navigation">
        <a href="#about">ABOUT</a>
        <a href="#careers">CAREERS</a>
        <a href="#events">EVENTS</a>
        <a href="#products">PRODUCTS</a>
        <a href="#support">SUPPORT</a>
      </div>
    </section>
  </body>
</html>
