@use "../util/" as u;

.card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 4fr 1fr;
  outline: none;

  .card-image {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  p {
    grid-column: 2/4;
    grid-row: 2;
    margin: 0;
    justify-self: start;
    align-self: end;
  }

  @include u.breakpoint(medium) {
    p {
      grid-column: 2/3;
    }
  }
}

.card:active,
.card:focus,
.card:hover {
  .card-image {
    position: relative;
  }

  .card-image::before {
    background-color: var(--white);
    opacity: 0.7;
    content: "";
    position: absolute;
    inset: 0;
  }

  p {
    color: var(--black);
    z-index: 10;
  }
}
