@use "../util/" as u;

body {
  --space-lr: 40px;
  --space-gap: 20px;
  --col-count: 2;

  display: grid;

  grid-template-columns:
    1fr repeat(
      var(--col-count),
      calc(
        (
            min(100% - var(--space-lr), 69.375rem) - (var(--col-count) - 1) *
              var(--space-gap)
          ) / var(--col-count)
      )
    )
    1fr;
  gap: var(--space-gap);

  @include u.breakpoint(medium) {
    --space-lr: var(--spacing-1000);
    --col-count: 6;
  }

  // @include u.breakpoint(large) {
  // }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: u.rem(40);
  width: min(100% - u.rem(20), u.rem(1000));
  margin-inline: auto;

  @include u.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: u.rem(40);
  }

  &__main {
    background-color: hsl(240, 100%, 31%);
  }

  &__sidebar {
    background-color: hsl(300, 100%, 25%);
    text-align: center;

    @include u.breakpoint("large") {
      text-align: left;
    }
  }

  &__navbar {
    grid-column: 2/-2;
    display: grid;
    height: 100dvh;
    grid-template-rows: min-content 1fr 1fr;

    div:first-child {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      img:last-child {
        justify-self: end;
      }
    }

    div:last-child {
      display: grid;
      align-items: last baseline;
      align-content: end;
      grid-template-columns: 1fr;
      gap: var(--spacing-0300);
    }

    @include u.breakpoint("large") {
      grid-template-columns: 1fr 1fr;
      height: min-content;

      div:last-child {
        display: flex;
        gap: var(--spacing-0400);
        justify-content: flex-end;
      }

      div:first-child img:last-child {
        display: none;
      }
    }
  }
}
