@use "../util/" as u;

.grid {
  --space-lr: 40px;
  --space-gap: 20px;
  --col-count: 1;

  display: grid;

  grid-template-columns:
    1fr repeat(
      var(--col-count),
      calc(
        (
            min(100% - var(--space-lr), 69.375rem) - (var(--col-count) - 1) *
              var(--space-gap)
          ) / var(--col-count)
      )
    )
    1fr;
  column-gap: var(--space-gap);

  @include u.breakpoint(medium) {
    --space-lr: var(--spacing-1000);
  }

  &__navigation {
    height: 100dvh;
    grid-template-rows: min-content 1fr 1fr;
    align-items: end;

    @include u.breakpoint(large) {
      --col-count: 2;
      height: min-content;
      background-color: transparent;
    }
  }

  &__logo,
  &__navbar {
    grid-column: 2;
    display: grid;
  }

  &__logo {
    grid-template-columns: repeat(2, min-content);
    justify-content: space-between;

    @include u.breakpoint(large) {
      grid-column: 2/3;

      :last-child {
        display: none;
      }
    }
  }

  &__navbar {
    gap: var(--spacing-0300);

    @include u.breakpoint(large) {
      grid-column: 3/4;
      grid-template-columns: repeat(5, min-content);
      justify-content: end;
    }
  }

  &__footer {
    row-gap: var(--spacing-0500);
    padding-top: var(--spacing-0600);
    padding-bottom: var(--spacing-0600);
    @include u.breakpoint(medium) {
      --col-count: 2;
    }
  }

  &__footer-logo,
  &__footer-nav,
  &__socials,
  &__footer-copyright {
    grid-column: 2;
    display: grid;
    justify-items: center;
  }

  &__footer-logo {
    @include u.breakpoint(medium) {
      grid-column: 2;
      grid-row: 1;
      justify-content: start;
    }
  }

  &__footer-nav {
    display: grid;
    gap: var(--spacing-0200);
    @include u.breakpoint(medium) {
      grid-column: 2;
      grid-row: 2;
      justify-content: start;
      grid-template-columns: repeat(5, min-content);
    }
  }

  &__socials {
    grid-template-columns: repeat(4, min-content);
    justify-content: center;
    gap: var(--spacing-0200);
    @include u.breakpoint(medium) {
      grid-column: 3;
      grid-row: 1;
      justify-content: end;
    }
  }

  &__footer-copyright {
    @include u.breakpoint(medium) {
      grid-column: 3;
      grid-row: 2;
      justify-content: end;
    }
  }
}
