// .attribution {
//   font-size: 11px;
//   text-align: center;
// }

// .attribution a {
//   color: hsl(228, 45%, 44%);
// }

// body {
//   background-image: var(--gradient-1);
//   background-repeat: no-repeat;
// }

footer {
  --text-color: var(--white);
  color: var(--text-color);
}
